<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/select.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/upload.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/select-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
    var path = '__CONTROLLER__';
    $(document).ready(function(e) {
        $(".select1").uedSelect({
            width : 320           
        });
    });
</script>
</head>

<body>
    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="{:U('Index/main')}">首页</a></li>
    <foreach name="navi" key="k" item="v">
        <if condition="$v === $title"> <li><a href="#">{$v}</a></li>
        <else /> <li><a href="{:U(\"".$k."/index\")}">{$v}</a></li>
        </if>
    </foreach>
    </ul>
    </div>
    
    <div class="formbody">
    
    
    <div id="usual1" class="usual"> 
    
    <div class="itab">
    <ul> 
    <li><a href="#tab1" class="selected">栏目编辑</a></li> 
    </ul>
    </div> 
    
    <div id="tab1" class="tabson">
    
    <div class="formtext">Hi，<b>{$Think.session.name}</b>，欢迎您编辑新栏目！</div>
    
    <ul class="forminfo">
    <form id="total" method="post" action="{:U('addHandle')}">
    <li><label>栏目名<b>:</b></label><input name="cname" type="text" class="dfinput" value="{$res.cname}" style="width:320px;" /></li>
    <li><label>父级栏目<b>:</b></label>  
    <div class="vocation">
    <select class="select1" name="pid">
    <option select="selected" value="0">所属栏目</option>
    <foreach name="cat" item="v">
    <if condition="$res['pid'] eq $v['gid']">
    <option value="{$v.gid}" selected="selected">{$v.level|str_repeat="&nbsp;&nbsp;&nbsp;&nbsp;",###}{$v.cname}</option>
    <else/>
    <option value="{$v.gid}">{$v.level|str_repeat="&nbsp;&nbsp;&nbsp;&nbsp;",###}{$v.cname}</option>
    </if>
    </foreach>
    </select>
    </div>
    
    </li>
    
    <li><label>关键字<b>:</b></label><input name="keywords" type="text" class="dfinput" value="{$res.keywords}" style="width:320px;" />
    </li>
    <li><label>描述<b>:</b></label><textarea name="descript" style="width:320px;height:60px;border:1px solid #ccc;">{$res.descript}</textarea>
    </li>
    <li id="status"><label>状态<b>:</b></label><input name="status" type="radio" style="position:relative;top:4px;" value="1" "<?= !empty($res['status']) ? 'checked' : ''; ?>" />&nbsp;可见&nbsp;&nbsp;&nbsp;&nbsp;<input name="status" style="position:relative;top:4px;" type="radio" value="0" "<?= empty($res['status']) ? 'checked' : ''; ?>" />&nbsp;不可见　</li>
    <li><label>&nbsp;</label><input name="button" id="btn" type="submit" class="btn" value="马上发布"/></li>
    </form>
    </ul>
    
    </div> 
    </div> 
 
    <script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    $('#total').submit(function(){
        var cname = $(".dfinput:eq(0)").val().trim();
        if(cname == '') {
            alert('栏目名不能为空！');
            return false;
        }
    });
    </script>
    
    
    
    
    
    </div>

</body>
</html>
