<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户列表</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script language="javascript">
$(function(){	
	//导航切换
	$(".imglist li").click(function(){
		$(".imglist li.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>
</head>

<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="{:U('Index/index')}">首页</a></li>
    <li><a href="#">图片列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><span><img src="__PUBLIC__/images/t01.png" /></span>添加</li>
        <li class="click"><span><img src="__PUBLIC__/images/t02.png" /></span>修改</li>
        <li><span><img src="__PUBLIC__/images/t03.png" /></span>删除</li>
        <li><span><img src="__PUBLIC__/images/t04.png" /></span>统计</li>
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="__PUBLIC__/images/t05.png" /></span>设置</li>
        </ul>
    
    </div>
    
    
    <table class="imgtable">
    
    <thead>
    <tr>
    <th width="100px;">缩略图</th>
    <th>用户ＩＤ</th>
    <th>用户名</th>
    <th>权限</th>
    <th>状态</th>
    </tr>
    </thead>
    
    <tbody>
    <foreach name="list" item="v" key="k">
        <tr>
        <td class="imgtd"><img src="{$v.aimg|substr='0',-4}sm.jpg" /></td>
        <td><p>{$v.tid}</p></td>
        <td><p>{$v.uname}</p></td>
        <td><p>发表博文</p></td>
        <td>
            <if condition="$v['status'] eq 1">已开通
            <else />false
            </if>
        </td>
        </tr>
        
    </foreach>
    
        <tr><td colspan="5" align="center"><div class="page">{$page}</div></td></tr>
    </tbody>
    
    </table>
    
    
    
    
    
   
    <div class="pagin">
    	<!--div class="message">共<i class="blue">9</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul-->
    </div>
    <!--
             Think\Page Object
        (
            [firstRow] => 0
            [listRows] => 5
            [parameter] => Array
                (
                    [p] => [PAGE]
                )

            [totalRows] => 45
            [totalPages] => 9
            [rollPage] => 11
            [lastSuffix] => 1
            [p:Think\Page:private] => p
            [url:Think\Page:private] => /Admin/Blist/index/p/%5BPAGE%5D.html
            [nowPage:Think\Page:private] => 1
            [config:Think\Page:private] => Array
                (
                    [header] => <span class="rows">共 %TOTAL_ROW% 条记录</span>
                    [prev] => <<
                    [next] => >>
                    [first] => 1...
                    [last] => 9
                    [theme] => %FIRST% %UP_PAGE% %LINK_PAGE% %DOWN_PAGE% %END%
                )

        )

            
    -->
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__PUBLIC__/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__PUBLIC__/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
<script type="text/javascript">
	$('.imgtable tbody tr:odd').addClass('odd');
	</script>
</body>
</html>
