@charset "utf-8";
.page{
    /*margin:0 auto;*/
    margin:0 auto; text-align: center; width: 100%; overflow: hidden; 
}
.prev,.next{
    float:left;
    display:block;
    width:41px;
    height:41px;
    line-height: 41px;
    border:1px solid #ccc;
    color:red;
    border-radius: 50%;
    text-align:center;
}
a{
    padding:0;
    margin:0;
}
.num{
    padding:0;
    float:left;
    display:block;
    width:41px;
    height:41px;
    line-height: 41px;
    border:1px solid #ccc;
    color:red;
    border-radius: 50%;
    text-align:center;
}
.current{
    float:left;
    display:block;
    width:41px;
    height:41px;
    line-height: 41px;
}
.pages a:hover{
    border-color:#50A8E6;
}

