<include file="./Public/head.html" />
<body>
<style type="text/css" media="print, screen">  

label {

  font-weight: bold;
}

a {

  font-family: Microsoft YaHei;

}

#articleComment {

  width: 600px;

  height: auto;

  overflow: auto;
}

</style> 
<div class="ibody">
  <include file="./Public/category.html" />
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="{:U('index')}">心灵感悟</a>
    <div class="index_about">
      <h2 class="c_titile">{$res.title}</h2>
      <p class="box_c"><span class="d_time">发布时间：{$res.wtime|date="Y-m-d",###}</span><span>编辑：{$res.uname}</span><span>浏览（390）</span><span>评论览（14）</span></p>
      <ul class="infos">
        <p><img src="{$res.aimg}" alt="{$res.keywords}"></p>
        {$res.content|htmlspecialchars_decode}
      </ul>
      <div class="keybq">
        <p><span>关键字词</span>：{$res.keywords}</p>
      </div>
      <input type="hidden" name="aid" value="{$res.aid}">
        <div id="articleComment"></div>

        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>

        <script type="text/javascript" src="__PUBLIC__/js/zyComment.js"></script>
        <script>var agoComment={$comment};</script>
        <script type="text/javascript">
            var url = '__CONTROLLER__'+'/comment',
                aid = $("input[type=hidden]:eq(0)").val();
          // agoComment = [

          // {"id":1,"userName":"游客1","time":"2014-04-04","sortID":0,"content":"第一条评论"},

          // {"id":2,"userName":"游客2","time":"2014-04-04","sortID":0,"content":"第二条评论"},

          // {"id":3,"userName":"站长","time":"2014-04-04","sortID":1,"content":"第一条评论的回复"},

          // {"id":4,"userName":"站长","time":"2014-04-04","sortID":2,"content":"第二条评论的回复"},

          // {"id":5,"userName":"游客3","time":"2014-04-04","sortID":0,"content":"第三条评论"},

          // {"id":6,"userName":"游客2","time":"2014-04-04","sortID":4,"content":"第二条评论的回复的回复"},

          // ];

          $("#articleComment").zyComment({

            "width":"355",

            "height":"33",

            "agoComment":agoComment,

            "callback":function(comment){

              // console.info("填写内容返回值：");

              // console.info(comment);
              
              if(!comment.email){
                alert("邮箱不能为空！");
                return;
              }
              $.ajax({
                type:'post',
                url:url,
                data:{'name':comment.name,'email':comment.email,'pcode':comment.pCode,'content':comment.content,'aid':aid},
                dataType:'json',
                success:function(e){
                  if(e.status){
                    $("#articleComment").zyComment("setCommentAfter",{"id":e.id, "name":comment.name, "content":comment.content, "time":e.time});
                  }else{
                    alert(e.info);
                  }
                }
              });
              return;
    }
  });
</script>
      <div class="nextinfo" style="margin-top:50px;color:red;">
      <hr style="height:1px;color:#D9D9D9;">
        <p>上一篇：<a href="{:U('New/index',['id'=>$prev['aid']])}">{$prev.title}</a></p>
        <p>下一篇：<a href="{:U('New/index',['id'=>$next['aid']])}">{$next.title}</a></p>
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <foreach name="relatives" item="v">
            <li><a href="{:U('New/index',['id'=>$v['aid']])}" title="{$v.title}">{$v.title}</a></li>
          </foreach>
        </ul>
      </div>
    </div>
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/">心情</a></li>
      <li class="rnav2 "><a href="/">欣赏</a></li>
      <li class="rnav4 "><a href="/">生活</a></li>
      <li class="rnav3 "><a href="/">程序人生</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <li><span class="num1">1</span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><span class="num2">2</span><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><span class="num3">3</span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
        <li><span>4</span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><span>5</span><a href="/">女生清新个人博客网站模板</a></li>
        <li><span>6</span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><span>7</span><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><span>8</span><a href="/">时间煮雨-个人网站模板</a></li>
        <li><span>9</span><a href="/">花气袭人是酒香—个人网站模板</a></li>
      </ul>
      <h2>
        <p>栏目推荐</p>
      </h2>
      <ul>
        <li><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
        <li><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><a href="/">女生清新个人博客网站模板</a></li>
        <li><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><a href="/">时间煮雨-个人网站模板</a></li>
        <li><a href="/">花气袭人是酒香—个人网站模板</a></li>
      </ul>
      <h2>
        <p>最新评论</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="__PUBLIC__/images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8月7日</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
      <h2>
        <p>最近访客</p>
        <ul>
          <img src="__PUBLIC__/images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
      </h2>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="__PUBLIC__/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
