<include file="./Public/head.html" />
<body>
<div class="ibody">
  <include file="./Public/category.html" />
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="{:U('index')}">文章列表</a></h2>
    <div class="bloglist">
      <foreach name="list" item="v">
        <div class="newblog">
          <ul>
            <h3><a href="{:U('New/index',['id'=>$v['aid']])}">{$v.title}</a></h3>
            <div class="autor"><span>作者：{$v.uname}</span><span>分类：[<a href="/">{$v.cname}</a>]</span><span>浏览（<a href="/">459</a>）</span><span>评论（<a href="/">30</a>）</span></div>
            <p>{$v.content|getCont=200} <a href="{:U('New/index',['id'=>$v['aid']])}" target="_blank" class="readmore">全文</a></p>
          </ul>
          <figure><img src="{$v.aimg}" ></figure>
          <div class="dateview">{$v.wtime|date='Y-m-d',###}</div>
        </div>
      </foreach>
    </div>
    <div class="page">{$show}</div>
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/">心情</a></li>
      <li class="rnav2 "><a href="/">欣赏</a></li>
      <li class="rnav4 "><a href="/">生活</a></li>
      <li class="rnav3 "><a href="/">程序人生</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
      <li><span class="num1">1</span><a href="{:U('New/index',['id'=>$relist[0]['aid']])}">{$relist[0]['title']}</a></li>
        <li><span class="num2">2</span><a href="{:U('New/index',['id'=>$relist[1]['aid']])}">{$relist[1]['title']}</a></li>
        <li><span class="num3">3</span><a href="{:U('New/index',['id'=>$relist[2]['aid']])}">{$relist[2]['title']}</a></li>
      <foreach name="relist" item="cvalue" key="ckey">
        <if condition="$ckey lt 2">
        <else/>
        <li><span>{++$ckey}</span><a href="{:U('New/index',['id'=>$cvalue['aid']])}">{$cvalue['title']}</a></li>
        </if>
        </foreach>
      </ul>
      <h2>
        <p>栏目推荐</p>
      </h2>
      <ul>
        <foreach name="ca_key" item="cv">
        <li><a href="/">&nbsp;{$calist[$cv]['cname']}</a></li>
        </foreach>
      </ul>
      <h2>
        <p>最新评论</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="__PUBLIC__/images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8月7日</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="__PUBLIC__/images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
      <h2>
        <p>最近访客</p>
        <ul>
          <img src="__PUBLIC__/images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
      </h2>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="__PUBLIC__/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
